.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5rem;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  & > div {
    display: flex;
    gap: 1rem;
  }
}

.search-container input {
  width: 100%;
  min-width: 500px;
  height: 48px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: 16px;
  color: #000000;
}

.search-btn {
  width: 100%;
  max-width: 100px;
  height: 48px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: 16px;
  color: #000000;
  background: #d8d8d8;
  cursor: pointer;
}

.report-fraud-btn {
  height: 48px;
  background: black;
  border: 1px solid black;
  color: white;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: 16px;
  cursor: pointer;
}

.status {
  border-radius: 20px;
  padding: 0.5rem 1rem;
  width: 100px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1rem;
  background: #d8d8d8;
  color: #000000;
}

.table-container {
  width: 100%;
  max-width: 1248px;
}
.table-container table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}

.table-container table thead tr th {
  padding: 0.5rem;
  text-align: left;
  height: 48px;
  width: 1200px;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #000000
}

.table-container thead {
  background: #FCFCFC;
}

.table-container tr {
  border-bottom: 1px solid #EAEAEA;
}

.table-container table tbody tr td {
  height: 48px;
  width: 1200px;
  padding: 0.5rem;
}
