.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  padding-top: 2rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;

  & > div {
    display: flex;
    gap: 1rem;
  }
}

.search-container input {
  width: 100%;
  min-width: 500px;
  height: 48px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: 16px;
  color: #000000;
}

.search-btn {
  width: 100%;
  max-width: 100px;
  height: 48px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: 16px;
  color: #000000;
  background: #d8d8d8;
  cursor: pointer;
}

.report-fraud-btn {
  height: 48px;
  background: black;
  border: 1px solid black;
  color: white;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: 16px;
  cursor: pointer;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Styling the Table */

.table {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: left;
}

.table thead {
  background-color: #f3f3f3;
  border-radius: 8px 8px 0px 0px;
}

.table head > tr {
  border-radius: 8px 8px 0px 0px;
  font-weight: bold;
  color: black;
}

.table tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #e1e1e1;
  margin-top: -1px;
  color: #535353;
}

.table tbody tr:hover {
  background-color: #f6f6f6;
}
